{% extends 'base.html.twig' %}

{% block content %}

    <div class="row justify-content-md-center">

{% for product in products %}


        <div class="col-12 col-sm-6 col-md-4">
    <div class="card">
        <img src="images/{{ product }}.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product }}</h5>
            <p class="card-text">Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, ut ab omni culpa inmunibus parceretur, cum non inpetraret, minabatur se discessurum: ut saltem id metuens perquisitor malivolus tandem desineret quieti coalitos homines in aperta pericula proiectare.</p>
            <a href="#" class="btn btn-primary">Send</a>
        </div>
    </div>
    </div>

{% endfor %}

    </div>


{% endblock %}